<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workerfinder</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <form action="/formplumber" method="POST" >
        <h3>Register as Plumber</h3>
       <input type="text"  name="name" placeholder="your Name:" required>
       <br><br>
     
        <input type="number" name="contact"  placeholder="contact:" required>
         <br><br>
         <input type="number" name="rate" placeholder="rate:" required>
         <br><br>
         <input type="text" name="location" placeholder="location:" required>
         <br><br>
         <input type="text" name="country" placeholder="country:" required>
         <br><br>
        <textarea name="experience"  placeholder="about experience"></textarea> 
            <br><br>
        <input type="file" name="image" id="image" >
         <br><br>
         <input type="submit" value="submit">

    </form>
</body>
</html>